@model GastosRegisterO.Models.Gastos

@{
    ViewData["Title"] = "InsertGasto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="row border-4">
    <div class="border-1 col-8 offset-2 bg-white p-4">
      

    <div class="col-md-12">
        <form asp-action="InsertGasto" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Asunto" class="control-label"></label>
                <input asp-for="Asunto" class="form-control" />
                <span asp-validation-for="Asunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
    </div>
</div>



